{% extends "base.html" %}
{% block title %}delete Main Page{% endblock %}
{% block content %}
<button onclick="location.href='/delete/coach'" type="button">Coach</button><br>
<button onclick="location.href='/delete/employee'" type="button">Employee</button><br>
<button onclick="location.href='/delete/game'" type="button">Game</button><br>
<button onclick="location.href='/delete/league'" type="button">League</button><br>
<button onclick="location.href='/delete/owner'" type="button">Owner</button><br>
<button onclick="location.href='/delete/player'" type="button">Player</button><br>
<button onclick="location.href='/delete/schedule'" type="button">Schedule</button><br>
<button onclick="location.href='/delete/season'" type="button">Season</button><br>
<button onclick="location.href='/delete/team'" type="button">Team</button><br>
{% endblock %}