{% extends "base.html" %}
{% block title %}Insert Main Page{% endblock %}
{% block content %}
<div>
    <form align = "center" method = "POST" action = "{{url_for('find_employee_server')}}">
        <h3>employee number: <input type = "text" name = "e_num" required></input></h3>
        <input type = "submit" value = "find_employee_server">
    </form>
</div>

<table align = "center">
    <tr>
    {% for item in head %}
    <th>{{item[0]}}</th>
    {% endfor %}
    </tr>
    {% for row in res %}
    <tr>
        {% for i in row %}
        <td>{{i}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}