{% extends "base.html" %}
{% block title %}Insert Main Page{% endblock %}
{% block content %}
<div>
    <form align = "center" method = "POST" action = "{{url_for('insert_coach_server')}}">
        <h3>Employee number: <input type = "text" name = "e_num" required></input></h3>
        <h3>Coach Position: <input type = "text" name = "c_pos" id = "c_pos" required></input></h3>
        <h3>Team name: <input type = "text" name = "t_name" required></input></h3>
        <input type = "submit" value = "insert_coach_server">
    </form>
</div>
{% endblock %}