{% extends "base.html" %}
{% block title %}Insert Main Page{% endblock %}
{% block content %}
<button onclick="location.href='/insert/coach'" type="button">Coach</button><br>
<button onclick="location.href='/insert/employee'" type="button">Employee</button><br>
<button onclick="location.href='/insert/game'" type="button">Game</button><br>
<button onclick="location.href='/insert/league'" type="button">League</button><br>
<button onclick="location.href='/insert/owner'" type="button">Owner</button><br>
<button onclick="location.href='/insert/player'" type="button">Player</button><br>
<button onclick="location.href='/insert/schedule'" type="button">Schedule</button><br>
<button onclick="location.href='/insert/season'" type="button">Season</button><br>
<button onclick="location.href='/insert/team'" type="button">Team</button><br>
{% endblock %}