{% extends "base.html" %}
{% block title %}show Main Page{% endblock %}
{% block content %}
<button onclick="location.href='/show/coach'" type="button">Coach</button><br>
<button onclick="location.href='/show/employee'" type="button">Employee</button><br>
<button onclick="location.href='/show/game'" type="button">Game</button><br>
<button onclick="location.href='/show/league'" type="button">League</button><br>
<button onclick="location.href='/show/owner'" type="button">Owner</button><br>
<button onclick="location.href='/show/player'" type="button">Player</button><br>
<button onclick="location.href='/show/schedule'" type="button">Schedule</button><br>
<button onclick="location.href='/show/season'" type="button">Season</button><br>
<button onclick="location.href='/show/team'" type="button">Team</button><br>
{% endblock %}