{% extends "base.html" %}
{% block title %}update Main Page{% endblock %}
{% block content %}
<button onclick="location.href='/update/coach'" type="button">Coach</button><br>
<button onclick="location.href='/update/employee'" type="button">Employee</button><br>
<button onclick="location.href='/update/game'" type="button">Game</button><br>
<button onclick="location.href='/update/league'" type="button">League</button><br>
<button onclick="location.href='/update/player'" type="button">Player</button><br>
<button onclick="location.href='/update/team'" type="button">Team</button><br>
{% endblock %}